@{
    ViewData["Title"] = "Profil";
}

<div class="row">

        <div class="col-md-4 offset-4">
        <h1>@ViewData["Title"]</h1>

        </div>
</div>

<div class="row">

    <div class="col-md-4">  
        <div class="form-group">
            <div class="input-group mb-3">
                <label class="form-label">Ad Soyad</label>
                <input type="text" class="form-control" placeholder="Ad Soyad" />
                <button class="btn btn-outline-secondary" type="button" id="button1">Kaydet</button>
            </div>
        </div>

    </div>
</div>